<body>

    <div class="i-form">
        <h1 class="title">Search Flight</h1>
        <form action="" class="form1" [formGroup]="flightForm" (ngSubmit)="getFlight">
            
            <div class="form_div">
                <label for="" class="form_label">Source City</label>
                <input type="text" class="form_input" placeholder="Source" name="source" formControlName="source">
                <span *ngIf="source?.invalid && source?.touched" style="color: rgb(255, 41, 41);">*Required</span>

            </div>
            <div class="form_icon">
                <img src="../../../assets/images/OIP.jpg" alt="" height="30px" width="30px">
            </div>
            <div class="form_div">
                <label for="" class="form_label">Destination City</label>
                <input type="text" class="form_input" placeholder="Destination" name="destination"
                    formControlName="destination">
                <span *ngIf="destination?.invalid && destination?.touched"
                    style="color: rgb(255, 41, 41);">*Required</span>

            </div>
            <div class="form_div">
                <label for="" class="form_label">Departure Date</label>
                <input type="date" class="form_input" name="departureDate" formControlName="departureDate">
                <span *ngIf="departureDate?.invalid && departureDate?.touched"
                    style="color: rgb(255, 41, 41);">*Required</span>
            </div>
            <button type="submit" class="button" value="Search" (click)="getFlight()">Search</button>
        </form>
    </div>
    <div class="table-container">
        <table class="table1">
            <thead>
                <tr>
                
                    <th>Flight Name</th>
                    <th>Source City</th>
                    <th>Destination City</th>
                    <th>Departure Date</th>
                    <th>Arrival Time</th>
                    <th>Seats Remaining</th>
                    <th>Fare</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let flight of flightDetails">
                   
                    <td>{{flight.flightName}}</td>
                    <td>{{flight.sourceAirportCity}}</td>
                    <td>{{flight.destinationAirportCity}}</td>
                    <td>{{flight.departureDate}}</td>
                    <td>{{flight.arivalTime}}</td>
                    <td>{{flight.seats}}</td>
                    <td>{{flight.fare}}</td>
                    <td>
                        <ng-template #login let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title">Login Form</h4>
                                <button type="button" class="btn-close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')"></button>
                            </div>
                            <div class="modal-body">
                                <p style="color: red;">Enter all the details carefully</p>
                                <app-login></app-login>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-light"
                                    (click)="modal.close('Close click')">Close</button>
                            </div>
                        </ng-template>
                        <button type="button" class="btn" *ngIf="!loggedIn" (click)="openLogin(login)">Login</button>

                        <button href="#" class="btn" *ngIf="loggedIn" (click)="setFlightDetails(flight)"
                            [routerLink]="['/booking']">Book
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</body>